{% extends "layout.html" %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<div>
  {% for message in get_flashed_messages() %}
    <div class="alert alert-warning d-flex align-items-center alert-dismissible fade show">
      <button type="button" class="close" data-bs-dismiss="alert"> 
        &times;
      </button>
      {{ message }}
    </div>
  {% endfor %}
</div>

<h1>Sign Up</h1>
<form method="POST">
  {{form.hidden_tag()}}

  <div class="mb-2">
    {{ form.name.label }}
    {{ form.name(class="form-control") }}
  </div>

  <div class="mb-2">
    {{form.email.label}}
    {{form.email(class="form-control")}}
  </div>

  <div class="mb-2">
    {{form.password.label}}
    {{form.password(class="form-control")}}
  </div>

  <div class="mb-2">
    {{form.confirm_password.label}}
    {{form.confirm_password(class="form-control")}}
  </div>

  {{form.submit(class="btn btn-dark")}}
</form>
{% endblock %}
