{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/static/scripts/tinymce/tinymce.min.js"></script>
  <script src="/static/scripts/view-notes.js"></script>
  <script src="/static/scripts/edit-notes.js"></script>
  <link rel="stylesheet" href="/static/styles/notes.css">
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center" style="column-gap: 10px;">
    <input id="note-title" class="title-input" value="{{ note.title or '' }}" placeholder="Untitled" />

    <div class="d-flex d-flex-column align-items-center justify-content-end" style="column-gap: 10px;">
      <form method="POST" action="/notes/{{ note.id }}/share">
        {{form.hidden_tag()}}
        <button type="submit" class="btn btn-link p-0 text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{'Make private' if note.public else 'Share note' }}">
          {% if note.public %}
            <i class="fa-solid fa-lock fa-2x"></i>
          {% else %}
            <i class="fa-solid fa-share fa-2x"></i>
          {% endif %}
        </button>
      </form>
      <a href="{{ url_for('get_view_note', id=note.id) }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="View note">
        <i class="fa-solid fa-book fa-2x"></i>
      </a>
      <button id="delete-note" data-note-id="{{ note.id }}" class="btn btn-link p-0 text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete note">
        <i class="fa-solid fa-trash-alt fa-2x"></i>
      </a>
    </div>
  </div>

  <div class="d-flex justify-content-between align-items-center mb-3">
    <div>
      {% if note.public %}
        <p class="d-inline-block cursor-pointer" id="copy-link" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Copy link">
          <i class="fa-solid fa-link"></i>
          {{ share_link }}
        </p>
      {% endif %}
    </div>
    <p id="save-status" class="text-success">
      <i class="fa-solid fa-check"></i>
      Saved
    </p>
  </div>

  <textarea id="note-content">
    {{ note.content or "" }}
  </textarea>
{% endblock %}
