{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/static/scripts/tinymce/tinymce.min.js"></script>
  <script src="/static/scripts/notes.js"></script>
{% endblock %}

{% block content %}
<div class="mb-3">
  <h1 class="mb-0">Note Title Here</h1>
  <a href="{{ url_for('get_view_note', id=1) }}">View Note</a>
</div>
<textarea id="notes"></textarea>
{% endblock %}
