{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/styles/notes.css">
  <script src="/static/scripts/index-notes.js"></script>
{% endblock %}

{% block content %}
  <h1>My Notes</h1>

  <form method="POST" action="/notes/create">
    {{form.hidden_tag()}}
    <button type="submit" class="btn btn-link p-0 text-decoration-none mb-3">
      <i class="fa-solid fa-plus"></i>
      New Note
    </button>
  </form>

  {% if notes|length > 0 %}
    <div class="d-flex" style="column-gap: 10px;">
      <select class="form-select w-auto" id="sort-by">
        <option selected value="updatedAt">Sort by Updated At</option>
        <option value="createdAt">Sort by Created At</option>
        <option value="title">Sort by Title</option>
      </select>
      <select class="form-select w-auto" id="sort-dir" >
        <option value="asc">Ascending</option>
        <option selected value="desc">Descending</option>
      </select>
    </div>
  {% endif %}

  <div class="row" id="notes">
    {% for note in notes %}
      <div class="col-md-6 col-lg-4" data-created-at="{{note.created_at}}" data-updated-at="{{note.updated_at}}" data-title="{{note.title or "Untitled"}}">
        <div class="card mt-3">
          <div class="card-body">
            <h5 class="card-title"><a href="{{ url_for('get_view_note', id=note.id) }}">{{ note.title or "Untitled" }}</a></h5>
            <p class="card-text"><strong>{{ note.word_count }}</strong> words</p>
            <p class="card-text text-muted">
              {% if note.public %}
                <i class="fa-solid fa-eye"></i>
                Public note
              {% else %}
                <i class="fa-solid fa-lock"></i>
                Private note
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  {% if notes|length == 0 %}
    <p class="text-muted mt-2">No Notes</p>
  {% endif %}


{% endblock %}
