{% extends "layout.html" %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  <h1>My Study Sets</h1>
  <button type="submit" class="btn btn-link p-0 text-decoration-none mb-3">
    <i class="fa-solid fa-plus"></i>
    <a href="{{ url_for('post_new_studyset') }}">New Study Set</a>
  </button>

    <div class="row" id="study-sets">
      {% for set in study_sets %}
        <div class="col-md-6 col-lg-4">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title mb-0">
                <a href="{{ url_for('get_view_study_set', id=set.id) }}">{{ set.name }}</a>
              </h5>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    {% if study_sets|length == 0 %}
      <p class="mb-0 text-muted">No recent sets</p>
    {% endif %}
{% endblock %}
