{% extends "layout.html" %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  <h1>My Study Sets</h1>
  <button><a href="{{ url_for('post_new_studyset') }}">New Study Set</a></button>
  <table cellpadding="7">
      {% for s in study_sets %}
          <tr>
              <td>
                <h4>
                  <a href="{{ url_for('get_view_study_set', id=s.id) }}">
                    {{ s.name }}
                  </a>
                </h4>
                <button>
                  <a href="{{ url_for('study_studyset', id=s.id) }}">
                    STUDY
                  </a>
                </button>
                <br />
                <br />
              </td>
          </tr>
      {% endfor %}
  </table>
{% endblock %}