{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  <title>{{ study_set.name }}</title>
  <script src="/static/scripts/flashcard.js"></script>
{% endblock %}

{% block content %}
<div>
  <h2>{{ study_set.name }}</h2>
  <button><h4><a href="/api/study/{{ study_set.id }}">STUDY</a></h4></button>
  <br />
  <div id="flashcards-container">
    <div class="flashcard" id="flashcard_template" style="display: none;">
      <h4 class="front" style="display: block;">Front Text</h4>
      <p class="back" style="display: block;">Back Text</p>

      <textarea class="front-editing" style="display: none;">Front Text</textarea>
      <textarea class="back-editing" style="display: none;">Back Text</textarea>

      <button class="edit-btn" style="display: inline;">Edit</button>
      <button class="save-btn" style="display: none;">Save</button>
      <br />
    </div>
  </div>

  <button id="add-flashcard-btn">New Flashcard</button>
  <span id="studyset-id" style="display: none;">{{ study_set.id }}</span>
</div>
{% endblock %}
