.flashcard {
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#front {
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: height 200ms;
}

#back {
    backface-visibility: hidden;
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: height 200ms;
}

.flipCard {
    transform: rotateY(180deg);
}

.h-0 {
  height: 0px !important;
}
