{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  <title>{{ study_set.name }}</title>
  <script src="/static/scripts/study.js"></script>
  <link rel="stylesheet" href="/static/styles/study.css">
{% endblock %}

{% block content %}
<div>
  <h2 class="mb-3"><a href="/flashcards/{{  study_set.id }}">{{ study_set.name }}</a></h2>
  {% if current_flashcard %}
    <div class="flashcard border rounded p-4" id="{{ current_flashcard.id }}">
      <div id="front">
        <h4>{{ current_flashcard.front_text }}</h4>
      </div>
      <div id="back" class="h-0">
        <h4>{{ current_flashcard.back_text }}</h4>
      </div>
    </div>

    <div class="w-full d-flex mt-3" style="column-gap: 10px;">
      <a href="/api/study/{{ study_set.id }}/prev" class="btn btn-primary flex-grow-1">
        <i class="fa fa-chevron-left fa-2x px-2" aria-hidden="true"></i>
      </a>
      <a href="/api/study/{{ study_set.id }}/next" class="btn btn-primary flex-grow-1">
        <i class="fa fa-chevron-right fa-2x px-2" aria-hidden="true"></i>
      </a>
    </div>
  {% else %}
    <h3>No cards in set.</h3>
  {% endif %}
</div>
{% endblock %}
